<mat-icon aria-hidden="false" aria-label="Example home icon" (click)="dialogRef.close(false)" class="closeiconall" style="top: -10; left:
0;position:absoloute;cursor: pointer;">cancel</mat-icon>
<h1 matDialogTitle>{{ data.title }}</h1>

<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="username"
          [formControl]="itemForm.controls['name']"
          (input)="onSearchChange($event.target.value)"
          placeholder="Name"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Brand Type</mat-label>
        <mat-select [formControl]="itemForm.controls['brandcategory']" onchange="">
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" class="pr-1">
      <mat-form-field [style.width.px]=427>
        <mat-select [formControl]="bankMultiCtrl" placeholder="Tags" [multiple]="true" #multiSelect>
          <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"
          
          placeholderLabel="Find Tags..." 
          noEntriesFoundLabel="No matching tag found"
          ></ngx-mat-select-search>
          <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.name">
            {{bank.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    




    <div fxFlex="50" class="pr-1">

      <mat-form-field [style.width.px]=227>
        <mat-label>Slug</mat-label>
        <input
        matInput
        name="username"
        [formControl]="itemForm.controls['slug']"
        placeholder="Slug"
      />
      </mat-form-field>

    </div>
   
   

    
    <div fxFlex="50" class="pr-1">
      <mat-form-field [style.width.px]=227>
        <mat-label>Parent Category</mat-label>
        <mat-select [formControl]="itemForm.controls['parentcategory']" multiple (selectionChange)="getSubCategories($event.value)">
          <mat-option
            *ngFor="let topping of parentCategory"
            [value]="topping"
            >{{ topping }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field [style.width.px]=227>
        <mat-label>Sub Category</mat-label>
        <mat-select multiple [formControl]="itemForm.controls['subcategory']">
          <mat-option
            *ngFor="let topping of subcategories"
            [value]="topping"
            >{{ topping }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

  
    <div fxFlex="100" class="pr-1">
      <quill-editor
      [formControl]="itemForm.controls['description']"
      theme="snow" 
      [(ngModel)]="description" 
      
      ></quill-editor>
     
    </div>


    <div fxFlex="50" class="pr-1" style="margin-top: 130px;">
      <h3>Logo Upload</h3>
      <div class="form-group">
        <input
          type="file"
          name="image"
          style="display: none;"
          accept="image/*"
          #logo
          (change)="fileProgress1($event)"
        />
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview mb-3" *ngIf="previewUrlLogo">
        <img [src]="previewUrlLogo" height="100" />
      </div>

      <div class="image-preview mb-3" *ngIf="previewUrl">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="logo.click()"
          style="margin-top: 10px; margin-left: 10px;"
        >
          Select Image
        </button>
      </div>
    </div>

    <div fxFlex="50" class="pr-1" style="margin-top: 130px;"> 
      <h3>Sidebar Upload</h3>
      <div class="form-group">
        <input
          type="file"
          style="display: none;"
          #fileside
          accept="image/*"
          name="image"
          (change)="fileProgress($event)"
        />
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" height="100" />
      </div>

      <div class="image-preview mb-3" *ngIf="previewUrl">
        <button
          mat-raised-button
          color="primary"
          type="button"
          style="margin-top: 10px; margin-left: 10px;"
          (click)="fileside.click()"
        >
          Select Image
        </button>
      </div>
    </div>

    <div
      formArrayName="specifications"
      style="width: 100%; padding: 10px; margin: 15px auto;"
    >
     <h2>Specifications</h2>
      <div
        *ngFor="let item of specifications.controls; let pointIndex = index"
        [formGroupName]="pointIndex"
        style="display: flex;  flex-direction: row; justify-content: space-between; margin: 15px;"
      >
        <div style="width: 100%;">
          <label>
            Brand Specification
            <input
              style="border-bottom: 1px grey solid; width: 90%;"
              matInput
              name="point+'pointIndex'"
              formControlName="point"
              placeholder="Specification"
            />
          </label>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="deleteSellingPoint(pointIndex)"
          type="button"
        >
          Delete
        </button>
      </div>
      <button
        style="margin: 15px; "
        mat-raised-button
        color="primary"
        type="button"
        (click)="addSellingPoint()"
      >
        Add
      </button>
    </div>

<!---

Requirements
-->
<div fxFlex="100"  class="pr-1">
  <h1 matDialogTitle>Services</h1>   
</div>
<section *ngFor="let item of services">
 
  <div fxFlex="25"  class="pr-1">
    <mat-checkbox value="{{item.title}}" [checked]="item.checked" (change)="checkboxtoggle($event)">{{item.title}}</mat-checkbox>
  </div>
  
  
</section>

<div fxFlex="100"  class="pr-1" style="margin-top: 30px;">
  <h1 matDialogTitle>Requirements</h1>   
</div>

<div fxFlex="25"  class="pr-1" >
  
  <mat-form-field class="example-full-width">
    <input
   
    matInput
    name="cnf"
   
    [formControl]="itemForm.controls['cnf']"
    placeholder="CNF">
      
    </mat-form-field>
  </div>

  <div fxFlex="25"  class="pr-1">
      <mat-form-field class="example-full-width">
        <input
        matInput
        name="cnfarea"
       
        [formControl]="itemForm.controls['cnfarea']"
        placeholder="Area">                  </mat-form-field>
      </div>

      <div fxFlex="25"  class="pr-1">
        <mat-form-field class="example-full-width">
          <input
          matInput
          name="cnfinvestment"
         
          [formControl]="itemForm.controls['cnfinvestment']"
          placeholder="Investment">                    </mat-form-field>
        </div>

        <div fxFlex="25"  class="pr-1">
          <mat-form-field class="example-full-width">
            <input
            matInput
            name="cnfsalesteam"
           
            [formControl]="itemForm.controls['cnfsalesteam']"
            placeholder="Sales Team">                      </mat-form-field>
          </div>


          <div fxFlex="25"  class="pr-1" >
            <mat-form-field class="example-full-width">
              <input
            
              matInput
              name="distributor"
             
              [formControl]="itemForm.controls['distributor']"
              placeholder="Distributor">
                
              </mat-form-field>
            </div>

            <div fxFlex="25"  class="pr-1">
                <mat-form-field class="example-full-width">
                  <input
                  matInput
                  name="distributorarea"
                 
                  [formControl]="itemForm.controls['distributorarea']"
                  placeholder="Area">                  </mat-form-field>
                </div>

                <div fxFlex="25"  class="pr-1">
                  <mat-form-field class="example-full-width">
                    <input
                    matInput
                    name="distributorinvestment"
                   
                    [formControl]="itemForm.controls['distributorinvestment']"
                    placeholder="Investment">                    </mat-form-field>
                  </div>

                  <div fxFlex="25"  class="pr-1">
                    <mat-form-field class="example-full-width">
                      <input
                      matInput
                      name="distributorsalesteam"
                     
                      [formControl]="itemForm.controls['distributorsalesteam']"
                      placeholder="Sales Team">                      </mat-form-field>
                    </div>


                    <div fxFlex="25"  class="pr-1" >
                      <mat-form-field class="example-full-width">
                        <input
                      
                        matInput
                        name="dealer"
                       
                        [formControl]="itemForm.controls['dealer']"
                        placeholder="Dealer">
                          
                        </mat-form-field>
                      </div>
          
                      <div fxFlex="25"  class="pr-1">
                          <mat-form-field class="example-full-width">
                            <input
                            matInput
                            name="dealerarea"
                           
                            [formControl]="itemForm.controls['dealerarea']"
                            placeholder="Area">                  </mat-form-field>
                          </div>
          
                          <div fxFlex="25"  class="pr-1">
                            <mat-form-field class="example-full-width">
                              <input
                              matInput
                              name="dealerinvestment"
                             
                              [formControl]="itemForm.controls['dealerinvestment']"
                              placeholder="Investment">                    </mat-form-field>
                            </div>
          
                            <div fxFlex="25"  class="pr-1">
                              <mat-form-field class="example-full-width">
                                <input
                                matInput
                                name="dealersalesteam"
                               
                                [formControl]="itemForm.controls['dealersalesteam']"
                                placeholder="Sales Team">                      </mat-form-field>
                              </div>

                    <div fxFlex="25"  class="pr-1" >
                      <mat-form-field class="example-full-width">
                        <input
                      
                        matInput
                        name="dealer"
                       
                        [formControl]="itemForm.controls['workshop']"
                        placeholder="Workshop">
                          
                        </mat-form-field>
                      </div>
          
                      <div fxFlex="25"  class="pr-1">
                          <mat-form-field class="example-full-width">
                            <input
                            matInput
                            name="dealerarea"
                           
                            [formControl]="itemForm.controls['workshoparea']"
                            placeholder="Area">                  </mat-form-field>
                          </div>
          
                          <div fxFlex="25"  class="pr-1">
                            <mat-form-field class="example-full-width">
                              <input
                              matInput
                              name="dealerinvestment"
                             
                              [formControl]="itemForm.controls['workshopinvestment']"
                              placeholder="Investment">                    </mat-form-field>
                            </div>
          
                            <div fxFlex="25"  class="pr-1">
                              <mat-form-field class="example-full-width">
                                <input
                                matInput
                                name="dealersalesteam"
                               
                                [formControl]="itemForm.controls['workshopsalesteam']"
                                placeholder="Sales Team">                      </mat-form-field>
                              </div>



    <div fxFlex="50"  class="pr-1">
        <h1 matDialogTitle>Contact Details</h1>    
        </div>
        <div fxFlex="50"  class="pr-1"></div>
        <div fxFlex="50"  class="pr-1">
            <mat-form-field class="full-width">
              <input
              matInput
              name="mobile"
              [formControl]="itemForm.controls['mobile']"
              placeholder="Mobile">
            </mat-form-field>
          </div> 

          <div fxFlex="50"  class="pr-1">
              <mat-form-field class="full-width">
                <input
                matInput
                name="email"
                [formControl]="itemForm.controls['email']"
                placeholder="Email">
              </mat-form-field>
            </div> 


            <div fxFlex="50"  class="pr-1">
                <mat-form-field class="full-width">
                  <input
                  matInput
                  name="address"
                  [formControl]="itemForm.controls['address']"
                  placeholder="Address">
                </mat-form-field>
              </div> 
              <div fxFlex="50"  class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                    matInput
                    name="web"
                    [formControl]="itemForm.controls['web']"
                    placeholder="Web">
                  </mat-form-field>
                </div> 
                <div fxFlex="50"  class="pr-1">
                    <mat-form-field class="example-full-width" [style.width.px]=427>
                        <textarea matInput placeholder="Social Media"  
                        [formControl]="itemForm.controls['socialmedia']"></textarea>
                      </mat-form-field>
                    </div>

                    <div fxFlex="50"  class="pr-1"></div>
    <div fxFlex="50"  class="pr-1">
        <h1 matDialogTitle>SEO Fields</h1>    
        </div>
        <div fxFlex="50"  class="pr-1"></div>
        <div fxFlex="50"  class="pr-1">
            <mat-form-field class="full-width">
              <input
              matInput
              name="seo_metatitle"
              [formControl]="itemForm.controls['seo_metatitle']"
              placeholder="Metatitle">
            </mat-form-field>
          </div> 

          <div fxFlex="100" class="pr-1">
            <quill-editor
            [formControl]="itemForm.controls['seo_metadescription']"
            theme="snow" 
            [(ngModel)]="metadescription" 
            
            ></quill-editor>
           
          </div>
      


            <div fxFlex="50"  class="pr-1" style="margin-top: 120px;">
                <mat-form-field class="full-width">
                  <input
                  matInput
                  name="seo_metaheading"
                  [formControl]="itemForm.controls['seo_metaheading']"
                  placeholder="MetaHeading">
                </mat-form-field>
              </div> 

              <div fxFlex="100" class="pr-1">
                <quill-editor
                [formControl]="itemForm.controls['seo_metaheadingdescription']"
                theme="snow" 
                [(ngModel)]="metaheadingdescription" 
                
                ></quill-editor>
               
              </div>

                <div fxFlex="50"  class="pr-1" style="margin-top: 120px;">
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Keywords"  [formControl]="itemForm.controls['seo_keywords']"></textarea>
                      </mat-form-field>
                    </div>

    <div fxFlex="100" class="mt-1">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="itemForm.invalid" >
        {{ "SAVE" | translate }} </button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>

    </div>
  
  </div>
</form>
