<mat-icon aria-hidden="false" aria-label="Example home icon" (click)="dialogRef.close(false)" class="closeiconall" style="top: -10; left:
0;position:absoloute;cursor: pointer;">cancel</mat-icon>
<h1 matDialogTitle>{{ data.title }}</h1>

<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
   
    <div>
      <mat-form-field>
        <mat-label>Brand Type</mat-label>
        <mat-select [formControl]="itemForm.controls['brand']" onchange="">
          <mat-option *ngFor="let topping of items_brands"  [value]="topping.id + '-'+ topping.name">{{
            topping.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    

    <div fxFlex="100">
      <mat-form-field>
        <mat-label>Business Profile</mat-label>
        <mat-select [formControl]="itemForm.controls['businessprofile']" onchange="">
          <mat-option *ngFor="let topping of businessprofile"  [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxFlex="100">
      <mat-form-field>
        <mat-label>States</mat-label>
        <mat-select [formControl]="itemForm.controls['state']" onchange="">
          <mat-option *ngFor="let topping of states"  [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    

    <div fxFlex="100">
      <mat-form-field [style.width.px]=427>
        <mat-select [formControl]="bankMultiCtrl" placeholder="Districts" [multiple]="true" #multiSelect>
          <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"
          
          placeholderLabel="Find District..." 
          noEntriesFoundLabel="No matching district found"
          ></ngx-mat-select-search>
          <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
            {{bank.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxFlex="100">
      <mat-form-field>
        <mat-label>Availability</mat-label>
        <mat-select [formControl]="itemForm.controls['availability']" onchange="">
          <mat-option *ngFor="let topping of colours" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  



   

    


<!---

Requirements
-->



<div fxFlex="100" class="mt-1">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="itemForm.invalid" >
        {{ "SAVE" | translate }} </button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>

    </div>
  
  </div>
</form>
