<mat-icon aria-hidden="false" aria-label="Example home icon" (click)="dialogRef.close(false)" class="closeiconall" style="top: -10; left:
0;position:absoloute;cursor: pointer;">cancel</mat-icon>
<h1 matDialogTitle>{{data.title}}</h1>
{{"ADD" | translate }} {{"BUSINESS PROFILE" | translate }}
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
 <div fxLayout="row wrap" fxLayout.lt-sm="column">

  
  <div fxFlex="50"  class="pr-1">
    <mat-form-field class="full-width">
      <input
      matInput
      name="title"
      (input)="onSearchChange($event.target.value)"
      [formControl]="itemForm.controls['title']"
      placeholder="Title">
    </mat-form-field>
  </div>


  <div fxFlex="50"  class="pr-1">
    <mat-form-field class="full-width">
      <input
      matInput
      name="heading"
      [formControl]="itemForm.controls['heading']"
      placeholder="Heading">
    </mat-form-field>
  </div>


  <div fxFlex="100"  class="pr-1">
    <mat-form-field class="full-width">
      <input
      matInput
      name="slug"
     
      [formControl]="itemForm.controls['slug']"
      placeholder="Slug">
    </mat-form-field>


  </div>




  <div fxFlex="100"  class="pr-1">
    <mat-label>Description</mat-label>
    <quill-editor
    [formControl]="itemForm.controls['description']"
    theme="snow" 
    [(ngModel)]="Description" 
    
    ></quill-editor>

   
    </div>
  

  





              <div
              formArrayName="specifications"
              style="width: 100%; padding: 10px; margin: 15px auto; margin-top: 90px;"
            >
              <div
                *ngFor="let item of specifications.controls; let pointIndex = index"
                [formGroupName]="pointIndex"
                style="display: flex;  flex-direction: row; justify-content: space-between; margin: 15px;"
              >
                <div style="width: 100%;">
                  <label>
                     Specification
                    <input
                      style="border-bottom: 1px grey solid; width: 90%;"
                      matInput
                      name="point+'pointIndex'"
                      formControlName="point"
                      placeholder="Specification"
                    />
                  </label>
                </div>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="deleteSellingPoint(pointIndex)"
                  type="button"
                >
                  Delete
                </button>
              </div>
              <button
                style="margin: 15px; "
                mat-raised-button
                color="primary"
                type="button"
                (click)="addSellingPoint()"
              >
                Add
              </button>
            </div>
               
           
             
              <div fxFlex="50"  class="pr-1">
                <h3>Slider Upload</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #fileside1 accept="image/*" name="image" (change)="fileProgress($event,1)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="previewUrl1">
                    <img [src]="previewUrl1"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="previewUrl1">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="fileside1.click()" >Select Image</button>             
              </div>
     
              

              </div><br>
              <div fxFlex="50"  class="pr-1">
                <h3>Slider Upload</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #fileside2 accept="image/*" name="image" (change)="fileProgress($event,2)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="previewUrl2">
                    <img [src]="previewUrl2"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="previewUrl2">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="fileside2.click()" >Select Image</button>             
              </div>
     
              

              </div><br>

              <div fxFlex="50"  class="pr-1" style="margin-top: 30px;">
                <h3>Slider Upload</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #fileside3 accept="image/*" name="image" (change)="fileProgress($event,3)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="previewUrl3">
                    <img [src]="previewUrl3"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="previewUrl3">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="fileside3.click()" >Select Image</button>             
              </div>
     
              

              </div><br>


              <div fxFlex="50"  class="pr-1" style="margin-top: 30px;">
                <h3>Slider Upload</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #fileside4 accept="image/*" name="image" (change)="fileProgress($event,4)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="previewUrl4">
                    <img [src]="previewUrl4"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="previewUrl4">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="fileside4.click()" >Select Image</button>             
              </div>
     
              

              </div><br>

<div fxFlex="100"  class="pr-1" style="margin-top: 30px;">
  <h2>Related Images</h2>   
</div>


              <div fxFlex="50"  class="pr-1" style="margin-top: 30px;">
                <h3>Related Image 1</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #filesidec4 accept="image/*" name="image" (change)="fileProgressa($event,1)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="rep1">
                    <img [src]="rep1"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="rep1">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="filesidec4.click()" >Select Image</button>             
              </div>
     
              

              </div><br>


              <div fxFlex="50"  class="pr-1" style="margin-top: 30px;">
                <h3>Related Image 2</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #filesideb4 accept="image/*" name="image" (change)="fileProgressa($event,2)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="rep2">
                    <img [src]="rep2"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="rep2">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="filesideb4.click()" >Select Image</button>             
              </div>
     
              

              </div><br>


              <div fxFlex="50"  class="pr-1" style="margin-top: 30px;">
                <h3>Related Image 3</h3>            
                <div class="form-group">
                    <input type="file"  style="display: none;" #filesidea4 accept="image/*" name="image" (change)="fileProgressa($event,3)" />
                </div>
                
                <div class="image-preview mb-3" *ngIf="rep3">
                    <img [src]="rep3"  height="100" />                 
                </div>

                <div class="image-preview mb-3" *ngIf="rep3">
                  <button mat-raised-button color="primary"  type="button" style="margin-top: 10px; margin-left: 10px;" (click)="filesidea4.click()" >Select Image</button>             
              </div>
     
              

              </div><br>
              

              <div fxFlex="100"  class="pr-1" style="margin-top: 140px;"><h2>SEO Fields</h2></div>
            
              <div fxFlex="100"  class="pr-1">
                  <mat-form-field class="full-width">
                    <input
                    matInput
                    name="seo_metatitle"
                    [formControl]="itemForm.controls['seo_metatitle']"
                    placeholder="Metatitle">
                  </mat-form-field>
                </div> 


                <div fxFlex="100"  class="pr-1">
        
                  <quill-editor
                  [formControl]="itemForm.controls['seo_metadescription']"
                  theme="snow" 
                  [(ngModel)]="metaDescription" 
                  
                  ></quill-editor>
            
                </div>
               
     

                  <div fxFlex="50"  class="pr-1" style="margin-top: 90px;">
                      <mat-form-field class="full-width">
                        <input
                        matInput
                        name="seo_metaheading"
                        [formControl]="itemForm.controls['seo_metaheading']"
                        placeholder="MetaHeading">
                      </mat-form-field>
                    </div> 

                    <div fxFlex="100"  class="pr-1">
        
                      <quill-editor
                      [formControl]="itemForm.controls['seo_metaheadingdescription']"
                      theme="snow" 
                      [(ngModel)]="metaHeadingDescription" 
                      
                      ></quill-editor>
                
                    </div>
                   
                      <div fxFlex="50"  class="pr-1" style="margin-top: 90px;">
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Keywords"  [formControl]="itemForm.controls['seo_keywords']"></textarea>
                            </mat-form-field>
                          </div>

             


                  
  


              
       
                    <div fxFlex="100" class="pr-1"></div>
              <div fxFlex="100"class="pr-1" style="margin-top: 100px;">
                <button mat-raised-button color="primary" type="submit" [disabled]="itemForm.invalid">{{"SAVE" | translate }}</button>
                <span fxFlex></span>
                <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)" style="margin-left: 90px;">Cancel</button>
              </div>
     
  
  </div>
  </form>